---
import Layout from "../layouts/Layout.astro";
import { Flower2 } from "@lucide/astro";
import ServiceCard from "../components/ServiceCard.astro";
---

<Layout>
  <section class="px-4 md:px-6 pt-4 pb-4 flex justify-center">
    <div class="flex flex-col gap-y-6">
      <h1 class="text-6xl font-bold justify-start">
        Care Plan as <br />Unique as You Are
      </h1>
      <p class="text-lg">Every plan is personalized, but care may include:</p>
    </div>
  </section>
  <section class="flex justify-center gap-x-6 gap-y-6 w-full flex-wrap">
    <ServiceCard title="Lorem ipsum1." icon={Flower2} />
    <ServiceCard title="Lorem ipsum2." icon={Flower2} />
    <ServiceCard title="Lorem ipsum3." icon={Flower2} />
    <ServiceCard title="Lorem ipsum3." icon={Flower2} />
    <ServiceCard title="Lorem ipsum3." icon={Flower2} />
    <ServiceCard title="Lorem ipsum3." icon={Flower2} />
  </section>
</Layout>
