---
import Layout from "../layouts/Layout.astro";
import {
 HeartHandshake,
 Syringe,
 SquareActivity,
 HandHeart,
 HeartPulse,
 Droplets,
 Video,
} from "@lucide/astro";
import ServiceCard from "../components/ServiceCard.astro";
---

<Layout>
 <section class="w-full flex flex-col items-center pt-20">
  <div class="flex flex-col items-center gap-y-6">
   <h1 class="text-6xl font-bold text-center">
    Planes de tratamiento <br />Personalizados
   </h1>
   <p class="text-lg">Cada plan es personalizado y nuestra atención incluye</p>
  </div>
  <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
   <ServiceCard title="Revisión médica completa" icon={HeartHandshake} />
   <ServiceCard title="Dermatoscopia digital" icon={Syringe} />
   <ServiceCard title="Análisis de tipo de piel" icon={Video} />
   <ServiceCard title="Limpiezas faciales y corporales" icon={HandHeart} />
   <ServiceCard title="Tratamiento de acné" icon={HeartPulse} />
   <ServiceCard title="Rutina de cuidado de la piel" icon={Droplets} />
  </section>
 </section>
</Layout>
