---
import Layout from "../layouts/Layout.astro";
import {
 HeartHandshake,
 Syringe,
 SquareActivity,
 HandHeart,
 HeartPulse,
 Droplets,
} from "@lucide/astro";
import ServiceCard from "../components/ServiceCard.astro";
---

<Layout>
 <section class=" w-full flex flex-col items-center pt-20 ">
   <h1 class="text-6xl font-bold text-center">
    Planes de tratamiento <br />Personalizados
   </h1>
   <p class="text-lg">Cada plan es personalizado y nuestra atención incluye</p>
   <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <ServiceCard title="Total Care Checkup." icon={HeartHandshake} />
    <ServiceCard title="Everyday Energy Boost." icon={Syringe} />
    <ServiceCard title="Heart Wise Monitoring." icon={SquareActivity} />
    <ServiceCard title="Mind & Mood Support." icon={HandHeart} />
    <ServiceCard title="Fast Track Sick Visits." icon={HeartPulse} />
    <ServiceCard title="Skin Care." icon={Droplets} />
   </section>
 </section>
</Layout>
